@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/Assets/bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;  
}

.grid{
    display: grid;
    grid-template-columns:20% 80%;
}

.sidebar{
    height: 100vh;
    background-color: rgba(206, 198, 198, 0.503);
    padding: 20px;
    border-radius: 0px 20px 20px 0px;
    margin-right: 5px;
    transition: 0.5s all ease-in-out;
}

.sidebar:hover{
    transform: scale(1.02);
    transition: 0.5s all ease-in-out;
}

.content{
    height: 100vh;
    border: 1px solid blue;
    border-radius: 20px 0px 0px 20px;
    display: grid;
    grid-template-rows: 10% 90%;
}

.content .headbar{
    border: 1px solid red;
    background-color: rgba(227, 227, 227, 0);
    border-radius: 20px 20px 20px 20px;

}

.headbar:hover{
    transform: scale(1.01);
    transition: 0.5s all ease-in-out;
}

.content .main{
    border: 1px solid green;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgba(227, 227, 227, 0.5);
    border-radius: 20px 0px 20px 0px;
}

.main:hover{
    transform: scale(1.01);
    transition: 0.5s all ease-in-out;
}