@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://raw.githubusercontent.com/Aaradhy-Sharma/top-admin-dashboard/main/Assets/bg_dark_purple.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;  
    background-color: transparent;
    overflow: hidden;
}

.grid{
    display: grid;
    grid-template-columns:12.5% 87.5%;
}

.sidebar{
    height: 100vh;
    background-color: rgba(206, 198, 198, 0.176);
    padding: 20px;
    border-radius: 0px 20px 20px 0px;
    margin-right: 5px;
    transition: 0.5s all ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 

.sidebar:hover{
    transform: scale(1.02);
    transition: 0.5s all ease-in-out;
    border: 0.5px solid white;
    box-shadow: 0px 0px 10px rgba(231, 228, 228, 0.5);


}

.content{
    height: 100vh;
    border-radius: 20px 0px 0px 20px;
    display: grid;
    grid-template-rows: 10% 90%;
    
}

.content .headbar{
    background-color: rgba(210, 215, 217, 0.126);
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 5px;


}

.headbar:hover{
    transform: scale(1.01);
    transition: 0.5s all ease-in-out;
    border: 0.51px solid white;
    box-shadow: 0px 0px 10px rgba(231, 228, 228, 0.5);


}

.content .main{
    display: grid; 
    grid-template-columns: 70% 30%;
    background-color: rgba(227, 227, 227, 0);
    border-radius: 20px 0px 20px 0px;

}

.main:hover{
    transform: scale(1.01);
    transition: 0.5s all ease-in-out;
    border: 0.51px solid white;
    box-shadow: 0px 0px 10px rgba(231, 228, 228, 0.5);

}

.sidebarHeading{
    color:rgb(198, 209, 212);
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin: 12px 0px 80px 0px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.sidebar:hover .sidebarHeading{
    font-size: 28px;
    transition: 0.5s all ease-in-out;
}

.sidebar .sidebarHeading:hover{
    font-size: 29px;
    transition: 0.5s all ease-in-out;
}

.sidebarList1{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebarList1 li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.sidebarList1 li:hover{
    transform: scale(1.05);
    transition: 0.5s all ease-in-out;
}


.sidebarListLink{
    text-shadow: 0px 0px 5px rgba(215, 210, 210, 0.5);
    text-decoration: none;
    color: rgba(255, 255, 255, 0.836);
    transition: 0.5s all ease-in-out;
}

.sidebarList2{
    list-style: none;
    margin: 120px 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebarList2 li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px 0px;
    padding: 6px 0px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

.sidebarList2 li:hover{
    transform: scale(1.05);
    transition: 0.5s all ease-in-out;
}

.dashboardBottomImg{
    margin: -40px 0px 100px 0px;
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
    background-color: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.dashboardBottomImg:hover{
    transform: scale(1.05);
    transition: 0.5s all ease-in-out;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.sidebarList1,.sidebarList2{
    color:rgba(208, 178, 224, 0.836);
    text-shadow: 0px 0px 5px rgba(215, 210, 210, 0.5);
}

.sidebarListLink:hover{
    color:rgba(208, 178, 224, 0.836);
    text-shadow: 0px 0px 5px rgba(215, 210, 210, 0.5);
    transition: 0.5s all ease-in-out;
}

.sidebarListImg{
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 30px;
    height: 23px;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.5s all ease-in-out;
}

.search{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all ease-in-out;
}

.searchIcon{
    color:rgba(208, 178, 224, 0.836);
    text-shadow: 0px 0px 5px rgba(215, 210, 210, 0.5);
    height: 30px;
    transition: 0.5s all ease-in-out;
    margin: 1px 0px 0px -45px;
    
}

.searchBar{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 10px 10px 10px 40px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(133, 129, 129, 0.23);
    color:rgba(200, 192, 204, 0.836);
    text-shadow: 0px 0px 1px rgba(215, 210, 210, 0.5);
    outline-color: aliceblue;
    outline-width: 0px;
    transition: 0.5s all ease-in-out;
    box-shadow: 0px 0px 5px rgba(245, 241, 241, 0.69);

}

.searchIcon:hover{
    transform: scale(1.08);
    opacity: 0.8;
    transition: 0.5s all ease-in-out;
}

.searchBar:hover{
    transform: scale(1.08);
    transform: scaleX(1.08);
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s all ease-in-out;
    box-shadow: 0px 0px 10px rgba(233, 228, 228, 0.5);
}

.searchBar:focus{
    transform: scale(1.08);
    background-color: rgba(35, 31, 35, 0.5);
    transition: 0.5s all ease-in-out;
}

.userImg{
    margin: 10px 0px auto;
    transition: 0.5s all ease-in-out;
    background-color: transparent;
}

.userIcon{
    width: 55px;
    height:55px;
    object-fit: cover;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    transition: 0.5s all ease-in-out;
    background-color: transparent;
    box-shadow: 0px 0px 5px rgba(233, 228, 228, 0.5);
    margin-left: 10px;
}

.userIcon:hover{
    transform: scale(1.1);
    transition: 0.5s all ease-in-out;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px rgba(233, 228, 228, 0.5);
    cursor: pointer;
}

.lang-selector{
    transition: 0.5s all ease-in-out;
    /* margin-right: -620px; */
}

.lang-selector .lang{
    margin: 10px 100px;
    padding: 10px 0px;
    width: 19%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    background-color: transparent;
    color: rgba(208, 178, 224, 0.836);
    border: none;
    outline: none;
    text-shadow: 0px 0px 5px rgba(215, 210, 210, 0.5);
}

.lang-selector .lang:hover{
    transform: scale(1.05);
    transition: 0.5s all ease-in-out;
    background-color: rgba(208, 178, 224, 0.226);
    color: rgba(255, 255, 255, 0.836);
    text-shadow: 0px 0px 5px rgba(215, 210, 210, 0.5);
}


.sidebarListImg.settings:hover{
    animation: settingsrotate 1s infinite linear;
}

.sidebarListImg.support:hover{
    animation: supportIconFlips 1s infinite linear;
}

.sidebarListImg.privacy:hover{
    animation: privacyIconScale 1s infinite linear;
}


@keyframes settingsrotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        transition: 0.5s all ease-in-out;
    }
}

@keyframes supportIconFlips {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
        transition: 0.5s all ease-in-out;
    }
}

@keyframes privacyIconScale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
        transition: 0.5s all ease-in-out;
    }
}
    

.main {
    transition: 0.5s all ease-in-out;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(233, 228, 228, 0.5);
    margin: 1px;
    padding: 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
}

.projects{
    grid-column: 1;

}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    transition: 0.5s all ease-in-out;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;    
}


.stat-container{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: 0.5s all ease-in-out;
}
.announcements{
    margin: 10px;
    padding: 10px;
    transition: 0.5s all ease-in-out;
    border-left: 1px solid rgba(208, 178, 224, 0.836);
    height: 100%;
    width: 100%;
    color: #ccc;
    text-align: center;
}

.announcements.announcementBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.announcements:hover{
    transform: scale(1.05);
    transition: 0.5s all ease-in-out;
    background-color: rgba(35, 31, 35, 0.5);
    border-left: 1px solid rgba(208, 178, 224, 0.836);
    box-shadow: 0px 0px 10px rgba(233, 228, 228, 0.5);
}

.trending{
    margin: 10px;
    padding: 10px;
    transition: 0.5s all ease-in-out;
    border-left: 1px solid rgba(208, 178, 224, 0.836);
    text-align: center;
    height: 100%;
    width: 100%;
    color: #ccc;
}

.trending.trendingBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trending:hover{
    transform: scale(1.05);
    transition: 0.5s all ease-in-out;
    background-color: rgba(35, 31, 35, 0.5);
    border-left: 1px solid rgba(208, 178, 224, 0.836);
    box-shadow: 0px 0px 10px rgba(233, 228, 228, 0.5);
}

.card{
    color: #ccc;
    background-color: rgba(35, 31, 35, 0.5);
    border-left: 3px solid rgba(208, 178, 224, 0.836);
    border-radius: 10px;
    width: 90%;
    height: 200px;
    margin: 20px;
    margin-left: 20px;
    padding: 10px;
    transition: 0.5s all ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}

.card:hover{
    transform: scale(1.05);
    transition: 0.5s all ease-in-out;
    background-color: rgba(35, 31, 35, 0.8);
    box-shadow: 0px 0px 10px rgba(233, 228, 228, 0.5);
}

.cardBottomBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 35px;
    padding: 10px;
    border-top: 1px solid rgba(208, 178, 224, 0.836);
    transition: 0.5s all ease-in-out;

}

.cardBottomBar img{
    background-color: transparent;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

.cardBottomBar img:hover{
    transform: scale(1.1);
    transition: 0.5s all ease-in-out;
}

.card p{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.5s all ease-in-out;
}

.card h3{
    margin: 10px 0px;
    padding: 0px;
    font-size: 30px;
    font-weight: 500;
    transition: 0.5s all ease-in-out;
}


.announcementTitleMain{
    margin: 10px;
    padding: 10px;
    transition: 0.5s all ease-in-out;
    border-bottom: 2px solid rgba(208, 178, 224, 0.836);
    color: #ccc;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(233, 228, 228, 0.5);
}

.announcementTitle{
    margin: 10px;
    padding: 10px;
    transition: 0.5s all ease-in-out;
    color: #ccc;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(233, 228, 228, 0.5);
    text-decoration: underline wavy 1px rgba(208, 178, 224, 0.836);
}

.announcement{
    margin: 10px;
    padding: 10px;
    transition: 0.5s all ease-in-out;
    border-bottom: 0.11px solid rgba(208, 178, 224, 0.836);
    color: #ccc;
    text-align: center;
}

.announcementText{
    margin: 10px;
    padding: 10px;
    transition: 0.5s all ease-in-out;
    color: #ccc;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(233, 228, 228, 0.5);
}

.trendingBox{
    margin: 10px;
    padding: 10px;
    transition: 0.5s all ease-in-out;
    color: #ccc;
    text-align: center;
}

.trendingText{
    margin: 10px;
    padding: 10px;
    transition: 0.5s all ease-in-out;
    color: #ccc;
    text-align: center;    
}

.trendingTitle{
    margin: 10px;
    padding: 10px;
    transition: 0.5s all ease-in-out;
    color: #ccc;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(233, 228, 228, 0.5);
    text-decoration: underline wavy 1px rgba(208, 178, 224, 0.836);
}

.trendingTitleMain{
    margin: 10px;
    padding: 10px;
    transition: 0.5s all ease-in-out;
    border-bottom: 2px solid rgba(208, 178, 224, 0.836);
    color: #ccc;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(233, 228, 228, 0.5);
}

